<div class="listing">
    <div class="listing-inner">
        <div
            {% if listing.getFeaturedImage() %}
                style="background-image: url('{{ vich_uploader_asset(listing.getFeaturedImage(), 'image') }}');"
            {% endif %}
           class="listing-image">

           <a href="{{ path('listing_detail', {'slug': listing.getSlug()}) }}" class="listing-image-link"></a>
            
            {#{% if listing.getPrice() %}
                <div class="listing-image-price">
                    {{ listing.getPrice()|localizedcurrency(currency) }}
                </div><!-- /.listing-image-price -->
            {% endif %}#}
			{% if listing.getIsFeatured() %}
                        <div class="listing-image-featured">
                            {{ 'Featured'|trans }}
                        </div><!-- /.listing-image-featured -->
                    {% endif %}
            <a class="listing-image-favorites" href="{{ path('favorite_add', {'id': listing.getId()})}}">
                <i class="fa fa-heart-o"></i> <span>{{ listing.getFavorites()|length }}</span>
            </a><!-- /.listing-image-favorites -->
			<div class="listing-box-title">
			 <h6 class="">
                <a class="color-white text-decoration-none" href="{{ path('listing_detail', {slug: listing.getSlug()}) }}">
                    {{ listing.getName() }}
                </a>

                {% if listing.getIsVerified() %}
                    <i class="fa fa-check"></i>
                {% endif %}
            </h6>
			{% if listing.getIsFeatured() or listing.getAddress() %}
                <div class="listing-image-content1">
                    

                    {% if listing.getAddress() %}
                        <address>{{ listing.getAddress()|nl2br }}</address>
                    {% endif %}
                </div><!-- /.listing-image-content -->
            {% endif %}
			{% if not listing.getRating() %}
                <div class="listing-rating-no color-white">
                    {{ 'No ratings, yet.'|trans }}
                </div>
            {% else %}
                <div class="listing-rating">
                    {% for i in range(1, 5) %}
                        {% if i <= listing.getRating() %}
                            <i class="fa fa-star"></i>
                        {% else %}
                            <i class="fa fa-star-o"></i>
                        {% endif %}
                    {% endfor %}
                </div><!-- /.listing-rating -->
            {% endif %}
			</div>
        </div>
    </div><!-- /.listing-inner -->
</div><!-- /.listing -->